.title1 {
  position: relative;
  line-height: 18px;
}
.text4 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-size);
  line-height: 20px;
  color: var(--black-100);
}
.form {
  position: absolute;
  top: calc(50% - 374px);
  left: calc(50% - 214px);
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--black-10);
  box-sizing: border-box;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text5 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-size);
  line-height: 20px;
  color: var(--color-gray-200);
}
.form1 {
  position: absolute;
  top: calc(50% - 284px);
  left: calc(50% - 214px);
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--black-10);
  box-sizing: border-box;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.forgot-password1 {
  position: absolute;
  top: 73px;
  left: 120.84px;
  font-size: var(--semibold1-size);
  line-height: 36px;
  font-weight: 600;
  color: var(--black-100);
}
.arrowleft-icon {
  position: absolute;
  top: 75px;
  left: 74px;
  width: 32px;
  height: 32px;
}
.text6 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button {
  border-radius: var(--br-5xs);
  background-color: var(--black-100);
  width: 428px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.text7 {
  position: relative;
  line-height: 20px;
}
.button1 {
  border-radius: var(--br-5xs);
  background-color: var(--black-5);
  width: 428px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--black-100);
}
.button-parent {
  position: absolute;
  top: 375px;
  left: calc(50% - 214px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--regular-size);
  color: var(--white-100);
}
.your-password-will {
  position: absolute;
  top: 320.5px;
  left: calc(50% - 199.53px);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  width: 399.06px;
}
.info-icon1 {
  position: absolute;
  top: 318px;
  left: 113px;
  width: 20px;
  height: 20px;
}
.form-parent {
  position: absolute;
  top: 0px;
  left: 864px;
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue);
  width: 576px;
  height: 1024px;
}
.lious-healthcare-logo-1 {
  position: absolute;
  top: calc(50% - 58.6px);
  left: calc(50% - 430.48px);
  width: 286.01px;
  height: 117.2px;
  object-fit: cover;
}
.forgot-password {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--white-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular1-size);
  color: var(--black-40);
  font-family: var(--semibold);
}
