body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --semibold: Inter;

  /* font sizes */
  --semibold-size: 18px;
  --regular-size: 14px;
  --regular1-size: 12px;
  --semibold1-size: 24px;

  /* Colors */
  --black-100: #1c1c1c;
  --color-gray-100: #111;
  --color-gray-200: rgba(28, 28, 28, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-5: rgba(0, 0, 0, 0.05);
  --white-100: #fff;
  --color-aliceblue: #e5ecf6;
  --color-darkslategray: #333;
  --color-dimgray: #666;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-xl: 20px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-base: 16px;
}
