.lious-healthcare-logo-13 {
  position: absolute;
  top: calc(50% - 278.9px);
  left: calc(50% - 97.28px);
  width: 194.55px;
  height: 79.72px;
  object-fit: cover;
}
.title12 {
  position: relative;
  line-height: 18px;
}
.text21 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-size);
  line-height: 20px;
  color: var(--black-100);
}
.form11 {
  position: absolute;
  top: calc(50% - 143px);
  left: calc(50% - 214px);
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--black-10);
  box-sizing: border-box;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.form12 {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 214px);
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--black-10);
  box-sizing: border-box;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.eyeslash-icon2 {
  position: absolute;
  top: 230.5px;
  left: 455px;
  width: 20px;
  height: 20px;
}
.text23 {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
}
.button6 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.text24 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button7 {
  border-radius: var(--br-5xs);
  background-color: var(--black-100);
  width: 428px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--white-100);
}
.text25 {
  position: relative;
  line-height: 20px;
}
.button8 {
  border-radius: var(--br-5xs);
  background-color: var(--black-5);
  width: 428px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button-parent1 {
  position: absolute;
  top: 266.5px;
  left: calc(50% - 214px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--regular-size);
  color: var(--black-100);
}
.frame-div {
  position: absolute;
  top: 100.81px;
  left: 0px;
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue);
  width: 576px;
  height: 457px;
}
.lious-healthcare-logo-1-parent {
  position: absolute;
  top: calc(50% - 278.9px);
  left: calc(50% - 288px);
  width: 576px;
  height: 557.81px;
}
.login {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--white-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular1-size);
  color: var(--black-40);
  font-family: var(--semibold);
}
