.title3 {
  position: relative;
  line-height: 18px;
}
.text8 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-size);
  line-height: 20px;
  color: var(--black-100);
  border: 0px;
}
.form2 {
  position: absolute;
  top: calc(50% - 374px);
  left: calc(50% - 214px);
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--black-10);
  box-sizing: border-box;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text9 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-size);
  line-height: 20px;
  color: var(--color-gray-200);
  border: 0px;
}
.form3 {
  position: absolute;
  top: calc(50% - 284px);
  left: calc(50% - 214px);
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--black-10);
  box-sizing: border-box;
  width: 428px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.checksquare-icon {
  position: absolute;
  top: 318px;
  left: 74px;
  width: 25px;
  height: 25px;
  color: var(--black-100);
}
.text10 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button2 {
  border-radius: var(--br-5xs);
  background-color: var(--black-100);
  width: 428px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text11 {
  position: relative;
  line-height: 20px;
}
.button3 {
  border-radius: var(--br-5xs);
  background-color: var(--black-5);
  width: 428px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--black-100);
  cursor: pointer;
}
.button-group {
  position: absolute;
  top: 375px;
  left: calc(50% - 214px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--regular-size);
  color: var(--white-100);
}
.verify-account {
  position: absolute;
  top: 73px;
  left: 120.84px;
  font-size: var(--semibold1-size);
  line-height: 36px;
  font-weight: 600;
  color: var(--black-100);
}
.arrowleft-icon1 {
  position: absolute;
  top: 75px;
  left: 74px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.form-group {
  position: absolute;
  top: 0px;
  left: 864px;
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue);
  width: 576px;
  height: 1024px;
}
.lious-healthcare-logo-11 {
  position: absolute;
  top: calc(50% - 58.6px);
  left: calc(50% - 430.48px);
  width: 286.01px;
  height: 117.2px;
  object-fit: cover;
}
.by-creating-an {
  color: var(--color-darkslategray);
}
.terms-of-use {
  text-decoration: underline;
  color: var(--black-100);
}
.span {
  color: var(--color-dimgray);
}
.by-creating-an-container {
  position: absolute;
  top: 320.5px;
  left: 966.94px;
  display: inline-block;
  width: 399.06px;
  color: var(--color-gray-100);
}
.verify {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--white-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular1-size);
  color: var(--black-40);
  font-family: var(--semibold);
}
